/*Selector universal*/
* {
  color:brown!important;
  font-family: "Montserrat", sans-serif;
}

p {
  /*
  background-color: cornflowerblue;
  background-color: rgb(25, 65, 208);
  background-color: #21a04b;
  background-color: hsl(0, 100%, 50%);
  background-color: rgba(100, 148, 237, 0.79);
  */
  background-color: #155adba3;
  font-size: 0.8rem;
  font-weight: 900;
  /*
  border-width: 20px;
  border-color: black;
  border-style: double;
  border: 1px solid black;
  */
  border-top: 1px solid black;
  border-bottom: 1px solid red;
  border-left: 1px solid green;
  border-right: 1px solid green;
  border-radius: 35px;
  width: 50%;
  height: 25px;
  /*
  Distancia entre un elemento y otro
  margin: 50px;
  margin-bottom: 30px;
  Valores en el sentido de las agujas del reloj
  margin: 30px 0 30px 20px;
  */
  margin: 30px 0 30px 20px;
  /*
    Distancia del contenido con respecto al borde
    padding: 20px;
  */
  padding: 20px 0 20px;
  outline: 2px solid green;
  text-align: center;
  text-decoration: underline green double 5px;
  text-transform: capitalize;
  letter-spacing: 5px;
  word-spacing: 12px;
  line-height: 20px;
  text-shadow: 10px -5px 2px black;
  font-family: "Montserrat", sans-serif;
}

p:hover{
  background-color: purple;
}
/*
Pseudo Clases
Manejan un estado de los elementos html
*/
/*Color cuando ya visite el link*/
a:visited{
  color: aquamarine;
}
/*Color cuando no he visitado el link*/
a:link{
  color: blueviolet;
}
/*Color cuando doy click en el link*/
a:active{
  color: cadetblue;
}

/*
  Pseudo elementos
  Manejan una parte especifica del elemento
*/

p::first-letter{
  font-size: 35px;
}

p::first-line{
  color:chocolate;
}

p::after{
  content:"Adios";
}

p::before{
  content:"Hola";
}

body{
  background-image: url("https://www.elsoldetijuana.com.mx/incoming/7h4hk6-kesikesiperrito.jpg/alternates/LANDSCAPE_768/Kesikesiperrito.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: center*/;
}